.footer {
    background-color: #031924;
    color: #fff;
    margin: 0;
    padding: 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    max-width: 300px;
    margin: 20px;
}

.social-links,
.contact-links {
    list-style: none;
    padding: 0;
}

.social-links li,
.contact-links li {
    margin: 10px 0;
}

.social-links a,
.contact-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.social-links a:hover,
.contact-links a:hover {
    color: #f39c12;
}

.logo {
    max-width: 150px;
    margin: 0 auto;
    display: block;
}

.service-box {
    text-align: center;
}

.service-box i {
    font-size: 40px;
    color: #f39c12;
    margin-bottom: 10px;
}

.service-box h3 {
    margin: 0;
    font-size: 18px;
}

.icon-box {
    text-align: center;
    padding: 5px; /* Ajusta el espaciado entre los icon-box */
    width: 50px; /* Ancho deseado del icono */
    height: 50px;
}

.icon-box svg {
    width: 100%;
    height: 100%;
}

.icon-box h3 {
    margin-top: 10px; /* Espacio entre el icono y el título */
}