<h1>¡Bienvenidos a la Licorera!</h1>
            <p>Gracias por visitarnos. En la Licorera, nos tomamos muy en serio nuestra responsabilidad social y queremos compartir contigo algunas reflexiones importantes sobre el consumo de bebidas alcohólicas.</p>

            <h2>Protegiendo a nuestros jóvenes</h2>
            <p>Es crucial entender que la venta de bebidas alcohólicas a menores de edad es ilegal y moralmente inaceptable. El consumo temprano de alcohol puede tener consecuencias devastadoras en el desarrollo físico, mental y emocional de los jóvenes. Como sociedad, debemos proteger a nuestra juventud y educarlos sobre los riesgos asociados con el consumo de alcohol.</p>

            <h2>Responsabilidad al volante</h2>
            <p>Otro aspecto fundamental es el consumo responsable de alcohol al conducir. Conducir bajo los efectos del alcohol es extremadamente peligroso y puede resultar en accidentes graves e incluso mortales. Nunca debes poner en riesgo tu vida y la de los demás al tomar la decisión irresponsable de manejar después de haber bebido. Si vas a beber, siempre designa a un conductor sobrio o utiliza servicios de transporte alternativos.</p>

            <h2>Leyes colombianas sobre el consumo de alcohol</h2>
            <p>En Colombia, existen leyes estrictas que regulan el consumo y la venta de bebidas alcohólicas. Por ejemplo, la Ley 124 de 1994 establece la prohibición de la venta de alcohol a menores de edad y la Ley 1696 de 2013 aumenta las sanciones para aquellos que suministren alcohol a menores. Además, el Código Nacional de Tránsito establece duras penalidades para quienes conduzcan bajo los efectos del alcohol, incluyendo multas y la suspensión de la licencia de conducir.</p>

            <p>En la Licorera, nos comprometemos a cumplir rigurosamente con estas leyes y a promover un consumo responsable de alcohol. Queremos ser parte de la solución y contribuir a una sociedad más segura y saludable para todos.</p>
        