<link rel="stylesheet" href="/CSS/quienes_somos.css">

<div class="album" style=" position: relative;float: center;" >
    <img src="/Resources/Logoo.png" alt="Imagen 1" style="width: auto; height: 300px;">
    <img src="/Resources/IMG/ocasion.jpg" alt="Imagen 2" style="width: auto; height: 300px;">
    <img src="/Resources/IMG/ocasion2.jpg" alt="Imagen 3" style="width: auto; height: 300px;">
    <img src="/Resources/IMG/ocasion3.jpg" alt="Imagen 4" style="width: auto; height: 300px;">
    <img src="/Resources/IMG/prohibido.jpg" alt="Imagen 5" style="width: auto; height: 300px;">

</div>
<div class="reseña">
    <h1>¿Quiénes Somos?</h1>
    <p>Somos la Licorería Fantasma, una empresa fundada y dirigida por un equipo de tres apasionados del mundo de las bebidas. Nos dedicamos a la venta de licores de la más alta calidad, buscando siempre ofrecer a nuestros clientes una experiencia única.</p>

</div>

<div class="mision">
    <div class="izqu">
        <h2>Misión</h2>
        <p>Nuestra misión es proporcionar a nuestros clientes una amplia variedad de licores de alta calidad, promoviendo siempre el consumo responsable y la satisfacción del cliente.</p>
    
    </div>
    <div class="imgmision">
        <img src="/Resources/IMG/mision.jpg" alt="Imagen 1" style="width: 300px; height: 300px;">

    </div>
</div>

<div class="vision">
    <div class="der">
        <h2>Visión</h2>
        <p>Nuestra visión es ser reconocidos como la licorería de referencia en nuestra región, destacando por nuestro compromiso con la calidad, la variedad y el servicio al cliente.</p>
    </div>

    <div class="imgvision">
        <img src="/Resources/IMG/vision.jpg" alt="Imagen 1" style="width: 300px; height: 300px;">

    </div>
</div>

<div class="valores">
    <div class="izqu">
        <h2>Principios y Valores</h2>
        <ul>
            <li>Compromiso con la calidad: Nos esforzamos por ofrecer solo productos de la más alta calidad.</li>
            <li>Atención al cliente: Nos importan nuestros clientes y trabajamos duro para garantizar su satisfacción.</li>
            <li>Responsabilidad: Promovemos el consumo responsable de alcohol.</li>
            
        </ul>
    </div>
    <div class="imgvalores">
        <img src="/Resources/IMG/valores.jpg" alt="Imagen 1" style="width: 300px; height: 300px;">

    </div>
</div>

